<header>
  <div class = "header-title">
    <a href="/">VALORANT DATA STATION</a>
  </div>
  
  <div class = "nav-item">
    <% if logged_in? %>
      <ul class = "logout">
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class = "login">
        <li><%= link_to '新規登録', signup_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      </ul>
    <% end %>
  </div>
</header>